/* line 4, ../app/widgets/_clear-fix.scss */
article:before, article:after {
  content: " ";
  display: table;
}
/* line 9, ../app/widgets/_clear-fix.scss */
article:after {
  clear: both;
}

@-webkit-keyframes fadeIn {
  /* line 4, ../app/widgets/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 5, ../app/widgets/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 9, ../app/widgets/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 10, ../app/widgets/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 14, ../app/widgets/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 15, ../app/widgets/_animations.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 19, ../app/widgets/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 20, ../app/widgets/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 28, ../app/widgets/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 29, ../app/widgets/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 33, ../app/widgets/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 34, ../app/widgets/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  /* line 38, ../app/widgets/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 39, ../app/widgets/_animations.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 43, ../app/widgets/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 44, ../app/widgets/_animations.scss */
  100% {
    opacity: 0;
  }
}

/* line 52, ../app/widgets/_animations.scss */
.animate {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

/* line 67, ../app/widgets/_animations.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* line 75, ../app/widgets/_animations.scss */
.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut;
}

/* line 3, ../app/widgets/_content-block.scss */
article {
  max-width: 770px;
  line-height: 19px;
}
/* line 8, ../app/widgets/_content-block.scss */
article h1 {
  font-size: 30px;
  padding: 0 0 25px 0;
}
@media (max-width: 500px) {
  /* line 8, ../app/widgets/_content-block.scss */
  article h1 {
    font-size: 24px;
  }
}
/* line 21, ../app/widgets/_content-block.scss */
article h3 {
  font-size: 18px;
  font-weight: normal;
}
/* line 28, ../app/widgets/_content-block.scss */
article p {
  font-size: 14px;
  padding: 0 0 20px 0;
}
/* line 35, ../app/widgets/_content-block.scss */
article a {
  color: #c96430;
  text-decoration: none;
}
/* line 42, ../app/widgets/_content-block.scss */
article img {
  width: 100%;
  height: auto;
}

/* line 8, careers.scss */
article .content {
  padding: 70px 0 40px 0;
  /* Uncomment if Featured Image is added
  width: 48%;
  float: left; */
}
@media (max-width: 500px) {
  /* line 8, careers.scss */
  article .content {
    width: 100%;
    padding: 30px 0 40px 0;
  }
}
/* line 21, careers.scss */
article .feat-img {
  padding: 60px 0 0;
  float: right;
}
