@import "app/base/core";

article {

	max-width: 830px;

	h3 { 

		font-weight:bold; 

	}

	@extend %clear-fix;
	@extend %content-block;
	
	.content {
		padding: 70px 0 40px 30px;
		width: 35%;
		float: left;

		@include breakpoint(medium) {
				padding: 70px 0 40px 0;
				width: 45%;
			}

		@include breakpoint(smaller) {
				padding: 20px 0 60px 0;
				width: 100%;
			}

		a.membership-btn {
			color: $white-01;
			background-color: $orange-02;
			padding: 15px 0;
			text-decoration: none;
			display: block;
			width: 70%;
			margin: 20px 0 0 0;
			text-align: center;

			@include breakpoint(medium) {
				width: 70%;
			}

			@include breakpoint(smaller) {
				margin: 0 auto;
				width: 60%;
				font-size: 14px;
				padding: 12px 0;
			}
		}
	}

	.feat-img {
		padding: 80px 0 0 0;
		float: right;

		@include breakpoint(medium) {
				width: 55%;
			}

		@include breakpoint(smaller) {
				padding: 20px 0 0;
				width: 100%;
			}

	}

}