article:before, article .hr div:before, article:after, article .hr div:after {
  content: " ";
  display: table; }

article:after, article .hr div:after {
  clear: both; }

article .hr {
  border-bottom: 1px solid #625d59; }
  article .hr div {
    border-top: 1px solid #3e3934;
    border-bottom: 1px solid #c2c2c2;
    height: 3px; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.animate {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn; }

.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

article {
  max-width: 770px;
  line-height: 19px; }
  article > .content {
    padding-top: 70px; }
  article h1 {
    font-size: 30px;
    padding: 0 0 25px 0; }
    @media (max-width: 500px) {
      article h1 {
        font-size: 24px; } }
  article h2 {
    font-size: 24px;
    padding: 23px 0; }
    @media (max-width: 500px) {
      article h2 {
        font-size: 18px; } }
  article h3 {
    font-size: 18px;
    font-weight: normal; }
  article p {
    font-size: 14px;
    padding: 0 0 20px 0; }
  article a {
    color: #c96430;
    text-decoration: none; }
  article img {
    width: 100%;
    height: auto; }
  article label {
    font-weight: bold; }

article .hr {
  clear: both; }

article .left {
  float: left;
  padding: 70px 0 0 0;
  width: 37%; }
  @media (max-width: 850px) {
    article .left {
      width: 45%; } }
  @media (max-width: 500px) {
    article .left {
      padding: 20px 0 30px;
      /*@extend %clear-fix;*/
      width: 100%; } }
  article .left a.gift-btn, article .left a.prod-btn {
    color: #fff;
    background-color: #c96430;
    padding: 14px 0;
    text-decoration: none;
    display: block;
    width: 60%;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 15px; }
    @media (max-width: 500px) {
      article .left a.gift-btn, article .left a.prod-btn {
        margin: 0 auto;
        width: 70%; } }

article .right-top {
  float: right;
  padding: 70px 0 50px;
  width: 60%;
  clear: right; }
  @media (max-width: 850px) {
    article .right-top {
      width: 50%; } }
  @media (max-width: 500px) {
    article .right-top {
      border: none;
      padding: 20px 0 0;
      width: 100%;
      /*@extend %clear-fix;*/ } }

article .right-bottom {
  float: right;
  padding: 70px 0 65px 0;
  width: 60%; }
  @media (max-width: 850px) {
    article .right-bottom {
      width: 50%; } }
  @media (max-width: 500px) {
    article .right-bottom {
      border: none;
      padding: 20px 0 0;
      /*@extend %clear-fix;*/
      width: 100%; } }
