@import "app/base/core";
@import "app/base/reset";
@import "app/layout/wrapper";

body.page > section > article {
	@extend %content-block;
}

/* Wide pages */
body.home > section > article,
body.page-template-tmp-sidebar > section > article {
	max-width: 840px;
}

body.page-template-tmp-sidebar > section > article {
	.content > main {
		@media (min-width: 540px) {
			display: inline-block;
			width: calc(100% - 310px);
			min-width: 240px;
		}
		@media (min-width: 800px) {
			width: calc(100% - 340px);
		}
	}
}

.btn {
  color: white;
  background-color: $orange-02;
  padding: 15px 25px;
  text-decoration: none;
	outline-style: none;
  display: block;
  width: 70%;
  margin: 20px 0 0 0;
  text-align: center;
	border-style: none;
}

input {
	max-width: 100%;
	box-shadow: none;
	outline-style: none;
	box-sizing: border-box;
}
textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
	border: 1px solid $white-02;
	line-height: 25px;
	padding: 3px 5px;
}
select {
	padding: 5px 3px;
}
