// ---------- Colors

$black-01: #000;
$white-01: #fff;
$white-02: #dbdad9;
$gray-01: #5d5d5d;
$gray-02: #c2c2c2;
$gray-03: #30312d;
$gray-04: #2f2b28;
$gray-05: #3e3934;
$gray-06: #625d59;
$gray-07: #999;
$gray-08: #ccc;
$gray-09: #54504c;
$orange-01: #DA5A2D;
$orange-02: #c96430;


// ---------- Fonts

$cabin: "Cabin", sans-serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;